body{
    font-family: 'Courier New', Courier, monospace;
}
h1{
    font-size: xx-large;
}
.named{
    color: orange;
}
.width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
    
}
.width img{
    width: 100%;
}